#projectsComp {
    width:100vw;
    /* height: 100vh; */
    display: grid;
    grid-template-rows: .5fr 9fr;
    /* border: 2px solid white; */
}

#projectsComp_name {
    color: white;
    margin-left: auto;
    margin-right: auto;
    font-size:3em;
    font-family: 'Dosis', sans-serif;
    /* border: 2px solid white; */
}

#projectsComp_all{
    /* border: 2px solid white; */
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
}

.projectsComp_all_individual{
    /* border:2px solid white; */
    display: grid;
    /* grid-template-rows: 3fr 1fr; */
    grid-template-areas: "overlap";
    border-radius:10px;
    width:95vw;
    height:95vw;
    margin:1%;
    transition: .5s;
}

#CodeCombat {
    background-image: url('../../assets/CodeCombat.svg');
    background-size: cover;
}

#Mentr {
    background-image: url('../../assets/Mentr.svg');
    background-size: cover;
}

#VotingBlock{
    background-image: url('../../assets/VotingBlock.svg');
    background-size: cover;
}

.projectDesc{
    /* border: 2px solid yellow; */
    transition:1s;
    grid-area: overlap;
    color:purple;
}

.projectImage{
    /* border: 2px solid yellow; */
    /* background-image: url('../../assets/CodeCombat/lobby.png'); */
    /* background-size: cover; */
    width:100%;
    height:100%;
    grid-area: overlap;
    transition: .5s;
}

.projectImage:hover{
    opacity: 0;
    transform: scale(1.2);
}

@media only screen and (min-width: 480px){
    #projectsComp_all{
        /* border: 2px solid white; */
        /* display: grid; */
        /* grid-template-columns: repeat(3, 1fr); */
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .projectsComp_all_individual{
        width:35vw;
        height:35vw;
    }
}