@import url('https://fonts.googleapis.com/css?family=Comfortaa');

#title {
    margin-left: auto;
    margin-right: auto;
}

#title-name {
    color: #C8C8B8;
    font-size:3em;
    font-family: 'Comfortaa', cursive;
}