@import url('https://fonts.googleapis.com/css?family=Kanit:700');
#title {
    width:100vw;
    height:100vh;
    text-align: center;
    
    background-color: rgba(33, 33, 33, 0.7);
    display: grid;
    align-items: center;
}

#title-name {
    font-size:3.5em;
    font-family: 'Roboto Slab', serif;
    color:transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #fff;
}



.title-border{
    border:2px solid white;
    width:85vw;
    margin:5% auto;
}

.social_grid{
    margin:2% auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-right:auto;
}

.social_image{
    height:45%;
    width:45%;
    margin-left:auto;
    margin-right:auto;
    padding:3%;
}
#twitter{
    transition:.35s;
    /* border-bottom: 4px solid #212121 */
}

#twitter:hover{
    border-bottom: 4px solid #1dcaff;
}

#email{
    transition:.35s;
    border-bottom: 4px solid #21212100
}

#email:hover{
    border-bottom: 4px solid #ff66cc;
}

#medium{
    transition: .35s;
    border-bottom: 4px solid #21212100
}

#medium:hover{
    border-bottom: 4px solid #57ad68
}

#github{
    transition: .35s;
    border-bottom: 4px solid #21212100
}

#github:hover{
    border-bottom: 4px solid #6e5494;
}

#linkedin{
    transition: .35s;
    border-bottom: 4px solid #21212100
}

#linkedin:hover{
    border-bottom: 4px solid #0077b5
}
@media only screen and (min-width: 480px) {
    .title-border{
        width:50vw;
        margin:2% auto;
    }

    #title-name{
        font-size: 6.5em;
        
    }

    .social_grid{
        width:50vw;
    }

    .social_image{
        width:35%;
        height:35%
    }
}



  