#skillsComp {
    width:100vw;
    height: 100vh;
    display: grid;
}

#skillsComp_name {
    margin-left: auto;
    margin-right: auto;
    color: #212121;
    font-size:3em;
    font-family: 'Dosis', sans-serif;
}