#aboutComp {
    width:100vw;
    height: 100vh;
    display: grid;
}

#aboutComp_name{
    margin-left: auto;
    margin-right: auto;
    font-size:3em;
    color:#212121;
    font-family: 'Dosis', sans-serif;
}