#aboutComp {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width:100vw;
    height: 100vh;
    align-content: center;
    text-align: center;
    font-family: 'Comfortaa', cursive;
}

.aboutComp_card {
    /* border:2px solid black; */
    padding:2%;
    margin:2%;
    border-radius: 5px;
    background-color: #B4B4A4;
    color:black;
}

.aboutComp_card_line {
    border:1px solid #102840;
    width:100%;
    margin-top:2%;
    margin-bottom:2%;
}

.aboutComp_card_title {
    color:#102840;
}

.aboutComp_card_desc {
    font-size: .8rem;
}