@import url('https://fonts.googleapis.com/css?family=Dosis:300');

* {
    margin:0;
    padding:0;
}

/* #212121
#E7F4F3 */


#main {
    display: grid;
    align-content: center;
    width: 100%;
    height: 100vh;
}

#about {
    width: 100%;
    height: 100vh;  
}

#skills {
    width: 100%;
    height: 100vh; 
}

#projects {
    width: 100%;
    height: 100vh;
}

#contact {
    width: 100%;
    height: 100vh;
}