@import url('https://fonts.googleapis.com/css?family=Dosis:300');

* {
    margin:0;
    padding:0;
}

#home {
    background-color: #212121;
}
/*background-color: #212121; */
/*background-color: #E7F4F3; */


#main {
    display: grid;
    align-content: center;
    width: 100%;
    height: 100vh;
}

#about {
    width: 100%;
    /* height: 100vh;  */
    /* border:2px solid white;  */
}

#skills {
    width: 100%;
    /* height: 100vh;  */
    /* border:2px solid white;  */
}

#accomplishments {
    width: 100%;
    height: 100vh; 
    /* border:2px solid white;  */
}

#projects {
    width: 100%;
    /* height: 100vh; */
    /* border:2px solid white;  */
}

#contact {
    width: 100%;
    height: 100vh;
    /* border:2px solid white;  */
}

@media only screen and (min-width: 480px) {
    #skills {
        background-image: url('../assets/Skills.svg');
        background-size: cover;
    }
}