* {
    margin:0;
    padding:0;
}

#main {
    display: grid;
    align-content: center;
    width: 100%;
    height: 100vh;
    background-color: #102840;
    z-index: -1;
}

#about {
    width: 100%;
    height: 100vh;
    background-color: #C8C8B8;
    margin-top:-15vh;
    -webkit-clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
    
}

#projects {
    margin-top:-15vh;
    background-color: #102840;
    -webkit-clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 100%);
}