#contactComp{
    width:100vw;
    height: 100vh;
    display: grid;
}


#contactComp_name{
    margin: 3% auto;
    margin-bottom:2%;
    padding:1%;
    font-size:3em;
    color: #212121;
    text-shadow:
        -1px -1px 0 #fff,  
        1px -1px 0 #fff,
        -1px 1px 0 #fff,
        1px 1px 0 #fff;
    font-family: 'Roboto Slab', serif;
}