#accomplishmentsComp {
    width:100vw;
    min-height: 1vh;
    display: grid;
}

#accomplishmentsComp_name {
    color: white;
    margin-left: auto;
    margin-right: auto;
    font-size:3em;
    font-family: 'Dosis', sans-serif;
}
